body {
  background-color: whitesmoke;
  color: #ffffff;
  min-height: 100vh;
}
h2,
h3 {
  color: #ffffff;
}
h1{
  padding-top: 10px;
  color: black;
}
.title {
  color: black;
}

/*
inventory
*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.gallery .card {
  min-width: 280px;
  max-width: 30%;
  transition: 0.1s linear;
}

p {
  font-size: 22px;
}

.new-div-login{
  background-color: rgb(101, 206, 179);
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 100px;
  width: 350px;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 480px;
  padding: 20px;
}
.new-div{
    text-align: center;
    background-color: rgb(101, 206, 179);
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 420px;
    width: 500px;
    padding: 20px;
    /* font-family: 'Permanent Marker', cursive; */
    font-size: 25px;
    border-color: whitesmoke;
    position: center;
}

.new-input{
    border: none;
    background-color: whitesmoke;
    /* font-family: 'Shadows Into Light', cursive; */
    font-size: 40px;
    color: rgb(101, 206, 140);
    font-weight: bold;
    border-radius: 5px;
}
.new-input1{
  border: none;
  background-color: whitesmoke;
  color: rgb(101, 206, 140);
  border-radius: 5px;
  font-size: 40px;
}
 .buttons{
  padding-bottom: 10px;
}

.inv-title{
  text-align: center;
}

.new-btn{
  margin-top: 10px;
}
.card {
  transform-style: preserve-3d;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.card:hover{
  transition: all .5s ease;
  transform: rotateY(0deg) rotateX(0deg);
}

.card:hover .title-inventory{
  transform: translateZ(150px);
}
.card:hover .sneaker{
  transform: translateZ(100px) rotateZ(-15deg);
  transition: all .2s ease;
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}

.sneaker img {
  width: 15rem;
  z-index: 2;
  transition: all 0.35s ease-out;
  opacity: 0.85;
}
.info{
  font-size: 1.3rem;
  padding: 2rem 0rem;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.video1{
    text-align: center;
    width: 100%;
    padding: 0;
}

/*splide*/
.splide{
    height: 600px;
    margin: auto;
    padding: 0;
    margin-bottom: 0px;
}
.show-img{
    width:600px;
    height: 500px;
    object-fit: cover;
}
.most-recent{
  text-align: center;
  color: black;
  padding-top: 30px;
}
.detail-container{
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  /* background-color: rgb(101, 206, 179); */
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 420px;
  width: 500px;
  padding: 20px;
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 25px;
  border-radius: 10px;
  border-color: whitesmoke;
  position: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.search-form, .box{
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 420px;
  width: 500px;
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  border-color: whitesmoke;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.inventory-form{
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
}
.list-carousel{
  padding-top: 30px;
}
.delete-conf{
  padding-top: 30px;
}
.modal-div{
  padding-bottom: 150px;
}