body {
  background-color: whitesmoke;
  color: #ffffff;
  min-height: 100vh;
}
h2,
h3 {
  color: #ffffff;
}
h1{
    color: black;
}
.container {
  padding: 40px;
  padding-right: 0;
}

.title {
  color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.gallery .card {
  min-width: 280px;
  max-width: 30%;
  transition: 0.1s linear;
}

.gallery .card:hover {
  transform: scale(1.1);
}

p {
  font-size: 12px;
}
.new-div{
    text-align: center;
    background-color: rgb(101, 206, 179);
    padding: 75px;
    border-radius: 5px;
    margin-top: 100px;
    padding-top: 100px;
    margin-left: 420px;
    width: 500px;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    border-radius: 10px;
    border-color: whitesmoke;
    position: center;
}

.new-input{
    border: none;
    background-color: whitesmoke;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: rgb(101, 206, 140);
    font-weight: bold;
    border-radius: 5px;
}
 .buttons{
  padding-bottom: 10px;
}

.inv-title{
  text-align: center;
}

