{% extends 'base.html' %} {% block content %}


<div class="new-div">
    <h3 class="title inv-title">Log In</h3>
    <form class="login-p" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        Username: <input class="new-input1" type="username" name="username" placeholder="User Name" required>
        
        
        Password: <input class="new-input1" type="password" name="password" placeholder="Password" required minlength="8">
                    <input type="submit" class="new-btn btn button is-info is-medium" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>


 <!-- <div class="new-div">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" class="btn button is-info is-small" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div> -->


{% endblock %}