{% extends 'base.html' %} {% block content %}

<h1 class="title">Sign Up</h1>


    <!-- <div class="register-div new-div">
        <form class="register-p" action="/register" method="POST">
    
            <p>User Name
                <input type="text" name="username" placeholder="Username" required minlength="5">
            </p>

            <p> Password
                <input class="register-input" type="password" name="password" placeholder="Password" required minlength="8">
            </p>
    
            <input class="register-btn" type="submit" value="Register">
        </form>
    </div> -->




<div class="new-div">
    <form method="post" action="{% url 'signup' %}">
            {{ form.errors }}
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" class="btn" value="Sign up" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>


{% endblock %}