{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <script src="{% static 'scripts/main.js' %}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <title>JustShoes</title>
</head>

<body>
        <nav class="navbar is-black" role="navigation" aria-label="dropdown navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">JustShoes</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="navbar-menu navbar-end">
                <!-- DARKMODE ATTEMPTS -->

                <!-- <a class="button is-dark is-small new-btn" onclick="myFunction()">Dark</a> -->
                <!-- <a><button class="button is-dark is-small new-btn btn-toggle">Dark</button></a> -->
                <!-- <button class="btn-toggle">Toggle Dark-Mode</button> -->

                <!-- PROFILE TO BE ADDED LATER -->
                <!-- <a class="navbar-item" href="/profile">Profile</a> -->
                <span class="navbar-item">Welcome: {{user.username}}</span>
                <a class="navbar-item" href="/inventory">Inventory</a>
                <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="navbar-menu navbar-end">
                <a class="navbar-item" href="{% url 'login' %}">Log In</a>
                <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
            </div>
            {% endif %}
        </nav>
        {% block content %}{% endblock %}
</body>
<script>
function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
}
</script>
<script>
new Splide('.splide').mount();
</script>
</html>


        


