{% extends 'base.html' %}
{% block content %}


<div class="video1">
    <video width="1800" height="800" autoplay loop controls>
        <source src="/static/images/pexels-rodnae-productions-5700368.mp4" type="video/mp4" />
    </video>
</div>

{% if user.is_authenticated %}
<h2 class="most-recent title">Most Recently Added</h2>

<div class="splide" data-splide='{"type":"loop","perPage":3}'>
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide"><img class="show-img" src="/static/images/pexels-photo-5470890.jpg" alt=""></li>
            <li class="splide__slide"><img class="show-img" src="/static/images/pexels-photo-5710076.jpg" alt=""></li>
            <li class="splide__slide"><img class="show-img" src="/static/images/pexels-photo-5710077.jpg" alt=""></li>
            <li class="splide__slide"><img class="show-img" src="/static/images/pexels-photo-5710079.jpg" alt=""></li>
        </ul>
    </div>
</div>

{% endif %}

<script>
    new Splide('.splide').mount();
</script>



{% endblock %}
