{% extends 'base.html' %}
{% block content %}


<div class="video1">
    <video class="video1" width="1800" height="800" autoplay muted loop>
        <source src="/static/images/pexels-rodnae-productions-5700368.mp4" type="video/mp4" />
    </video>
</div>

{% if user.is_authenticated %}
<h2 class="most-recent title">Most Recently Added...</h2>
    <div class="splide splide1" data-splide='{"type":"loop","perPage":5}'>
        <div class="splide__track">
            <ul class="splide__list">
                {% for sneaker in sneakers %}
                <li class="splide__slide"><img class="show-img-home" src="{{sneaker.image}}" alt="{{sneaker.name}}"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

<div class="video1">
    <div class="container">
    <img class="home-img" src="https://cms-cdn.goat.com/750/d3d6e7bef1b5-9ada-be11-aa5c-0a023e44.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
    <div class="centered"><h3 id="home-img-text">Air Jordan IV 'Neon Green'</div></h3>
    </div>
</div>


<h2 class="most-recent title">Dropping this week...</h2> 
<div class="container home-box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-96x96">
                <a href="https://sneakerbardetroit.com/adidas-yeezy-boost-350-v2-mono-pack-release-date/" target="blank"><img src="/static/images/adidas-Yeezy-Boost-350-V2-Mono-Pack.jpg" alt="Image"></a>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <h3 class="just-in">Jordan 1 'Tie Dye'</h3>
                <h5><small>06/012/2021</small></h5>
                    <p>
                    This pack includes a total of four color options dressed in Mono Ice, Mono Clay, Mono Mist, and Mono Light. Each adidas
                    Yeezy Boost 350 V2 features a semi-translucent sheath upper with signature side stripes and rear pull tabs. Boost
                    cushioning underneath completes the design.
                </p>
            </div>
        </div>
    </article>

    <article class="media">
        <div class="media-left">
            <figure class="image is-96x96">
                <a href="https://sneakernews.com/2021/06/09/adidas-yeezy-boost-700-enflame-amber-gw0297-store-list/"><img src="/static/images/adidas-yeezy-boost-700-enflame-store-list-1.jpg" target="blank" alt="Image"></a>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <h3 class="just-in">Air Force 1</h3>
                <h5><small>06/12/2021</small></h5>
                    <p>
                        For the first time ever, the silhouette boasts hippie-esque tie dye patterns coating its overlays, and fall against a neutral-style backdrop executed with white leather base layers paired with black toe boxes, laces, Swooshes, and ankle collars
                    </p>
            </div>
        </div>
    </article>

    <article class="media">
        <div class="media-left">
            <figure class="image is-96x96">
                <a href="https://www.kicksonfire.com/sacai-x-nike-blazer-low-classic-green-and-magma-orange-release-date/"><img src="/static/images/sacai-nike-blazer-low-8.jpg" target="blank" alt="Image"></a>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <h3 class="just-in">Yeezy 350</h3>
                <h5><small>06/12/2021</small></h5>
                    <p>
                        For the first time ever, the silhouette boasts hippie-esque tie dye pattern coating its overlays, and fall against a neutral-style backdrop executed with white leather base layers paired with black toe boxes, laces, Swooshes, and ankle collars
                    </p>
            </div>
        </div>
    </article>
</div>
{% endif %}


<!-- SPLIDE FOR VALUE -->

<!-- <div class="splide" data-splide='{"type":"loop","perPage":3}'>

    <div class="splide__track">
        <ul class="splide__list">
            {% for sneaker in value %}
            <li class="splide__slide"><img class="show-img" src="{{sneaker.image}}" alt="{{sneaker.name}}"></li>
            {% endfor %}
        </ul>
</div> -->


{% endblock %}




