{% extends 'base.html' %} {% block content %}


<div class="container box2">
    <div class="">
        <img class="detail-img" src="{{sneaker.image}}" alt="{{sneaker.name}}" />
    </div>
        <h2 id="detail-txt" class="title">Name: {{ sneaker.name }}</h2>
        <h2 id="detail-txt" class="title">Size: {{ sneaker.size }}</h2>
        <h2 id="detail-txt" class="title">Value on GOAT: $ {{ sneaker.value }}</h2>

    <div class="detail__container">
        <div class="">
            <a href="/inventory/" class="button is-success">
                <span class="icon">
                    <i class="fas fa-list-ul"></i>
                </span>
            </a>
            <a class="button is-info" id="edit-btn">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url "inventory_delete" sneaker.pk %}" class="button is-danger">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
    </div>
</div>


<!-- <div class="splide" data-splide='{"type":"loop","perPage":3}'>

{% if user.is_authenticated %}
<h2 class="most-recent title">Most Recently Added...</h2>
<div class="splide splide1" data-splide='{"type":"loop","perPage":5}'>
    <div class="splide__track">
        <ul class="splide__list">
            {% for sneaker in value %}
            <li class="splide__slide"><img class="show-img-home" src="{{sneaker.image}}" alt="{{sneaker.name}}"></li>
            {% endfor %}
        </ul>
    </div>
</div> -->


<!-- modal -->

<div class="modal modal-div">
    <div class="modal-background"></div>
        <div class="modal-content modal-div2 box1">
            <form action="{% url "inventory_update" sneaker.pk %}" method="post">
                {% csrf_token %} {{forms.errors}}
        
                <h3 id="modal">Name: <input class="new-input" value="{{ sneaker.name }}" type="text" name="name" placeholder="Name"></h3>
                <h3 id="modal">Size: <input class="new-input" value="{{ sneaker.size }}" type="text" name="size" placeholder="Size"></h3>
                <h3 id="modal">Value on Goat: <input class="new-input" value="{{ sneaker.value }}" type="text" name="value" placeholder="Value"></h3>
                <h3 id="modal">Image: <input class="new-input" value="{{ sneaker.image }}" type="text" placeholder="Upload Image" name="image"
                    accept="image/png, image/jpeg"></h3>
                    <input class="new-btn button is-black" type="submit" value="Submit">
            </form>
    </div>
</div>
{% endif %}
    <!-- NONMODAL VERSION -->
    
    <!-- <div class="detail__container">
            <div class="buttons">
                <a href="/inventory/" class="button is-success">
                    <span class="icon">
                        <i class="fas fa-list-ul"></i>
                    </span>
                </a>
                <a href="{% url "inventory_update" sneaker.pk%}" class="button is-info">
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                </a>
                <a href="{% url "inventory_delete" sneaker.pk %}" class="button is-danger">
                    <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </a>
            </div>
    </div> -->


<!-- ANIMATION that I couldnt get to work -->

<!-- <div class="container1 container">
        <div class="card1">
            <div class="sneaker1">
                <div class="circle1 detail__img"></div>
                <img src="{{sneaker.image}}" alt="{{sneaker.name}}">
            </div>
            <div class="info1">
                <h1 class="title1">{{ sneaker.name }} | Size: {{ sneaker.size }}</h1>
            </div>
        </div>
    </div> -->




{% endblock %}