{% extends 'base.html' %}

{% block content %}

<h1 class="title container">{{header}}</h1>


<form method="get">
    <div class="field has-addons container">
        <div class="control">
            <input type="text" name="name" class="input" placeholder="Name" />
        </div>
        <div class="control">
            <input class="button is-dark" type="submit" value="Search" />
        </div>
        
    </div>
    <div class="buttons container">
        <a class="button is-dark" href="{% url 'inventory_list' %}">Clear Search</a>
        <a class="button is-dark" href="{% url 'inventory_create' %}">Add Inventory</a>
    </div>

</form>


<div class="container gallery">
    {% for Sneaker in sneakers %}
    <a href="{% url "inventory_detail" Sneaker.pk %}">
        <div class="card">
            <div class="sneaker">
                <img src="{{Sneaker.image}}" alt="{{Sneaker.name}}" />
            </div>
             <div class="info card-header">
                <h4 class="card-header-title title-inventory purchase sizes">{{Sneaker.name}} | Size: {{Sneaker.size}}</h4>
            </div> 
                <!-- <p class="button is-dark">Edit</p>
                <p class="button is-dark">Delete</p> -->
        </div>
    </a>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./app.js"></script>


{% endblock %}



