{% extends 'base.html' %} {% block content %}


    <!-- <div class="container1 container">
        <div class="card1">
            <div class="sneaker1">
                <div class="circle1 detail__img"></div>
                <img src="{{sneaker.image}}" alt="{{sneaker.name}}">
            </div>
            <div class="info1">
                <h1 class="title1">{{ sneaker.name }} | Size: {{ sneaker.size }}</h1>
            </div>
        </div>
    </div> -->
    












<div class="container box1">
    <div class="detail__img gallery">
        <img src="{{sneaker.image}}" alt="{{sneaker.name}}" />
    </div>
        <h1 class="title">{{ sneaker.name }} | Size: {{ sneaker.size }}</h1>

    <div class="detail__container">
        <div class="buttons">
            <a href="/inventory/" class="button is-success">
                <span class="icon">
                    <i class="fas fa-list-ul"></i>
                </span>
            </a>
            <a class="button is-info" id="edit-btn">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url "inventory_delete" sneaker.pk %}" class="button is-danger">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
    </div>
</div>


<!-- modal -->

<div class="modal modal-div">
    <div class="modal-background"></div>
        <div class="modal-content modal-div2 box1">
            <form action="{% url "inventory_update" sneaker.pk %}" method="post">
                {% csrf_token %}
        
                Name: <input class="new-input" type="text" name="name" placeholder="Name">
                Size: <input class="new-input" type="text" name="size" placeholder="Size">
                Image: <input class="new-input" type="text" placeholder="Upload Image" name="image"
                    accept="image/png, image/jpeg">
                    <input class="new-btn button is-info" type="submit" value="Submit">
            </form>
        </div>
</div>

<!-- <script src="/static/scripts/main.js"></script> -->


                        <!-- NONMODAL -->
                        
                        <!-- <div class="detail__container">
                                <div class="buttons">
                                    <a href="/inventory/" class="button is-success">
                                        <span class="icon">
                                            <i class="fas fa-list-ul"></i>
                                        </span>
                                    </a>
                                    <a href="{% url "inventory_update" sneaker.pk%}" class="button is-info">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a href="{% url "inventory_delete" sneaker.pk %}" class="button is-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </div>
                        </div> -->

    <script src="./app.js"></script>


{% endblock %}