{% extends 'base.html' %}

{% block content %}

<div class="container box1">
    <h1 class="title">{{header}}</h1>
    <form method="get">
        <div class="field has-addons">
            <div class="control">
                <input type="text" name="name" class="input" placeholder="Name" />
            </div>
            <div class="control">
                <input class="button is-dark" type="submit" value="Search" />
            </div>
        </div>
        <div class="buttons">
            <a class="button is-dark" href="{% url 'inventory_list' %}">Clear Search</a>
            <a class="button is-dark" href="{% url 'inventory_create' %}">Add Inventory</a>
            <a class="button is-dark is-small is-success new-btn" href="https://stockx.com/" target="_blank">StockX</a>
            <a class="button is-dark is-small new-btn" href="https://www.goat.com/" target="_blank">Goat</a>
        </div>
    </form>
</div>


<div class="container gallery inventory-form">
    {% for Sneaker in sneakers %}
    <a href="{% url "inventory_detail" Sneaker.pk %}">
        <div class="card">
            <div class="sneaker">
                <img class="inventory-img" src="{{Sneaker.image}}" alt="{{Sneaker.name}}"/>
            </div>
             <div class="info">
                <h4 class="card-header-title title-inventory purchase sizes">{{Sneaker.name}} | Size: {{Sneaker.size}}</h4>
            </div> 
        </div>
    </a>
    {% endfor %}
</div>
<div class="list-carousel">
    <h2 class="most-recent title">Most Valuable...</h2>

    <div class="splide" data-splide='{"type":"loop","perPage":3}'>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide"><img class="show-img" src="/static/images/pexels-photo-5470890.jpg" alt=""></li>
                <li class="splide__slide"><img class="show-img" src="/static/images/pexels-photo-5710077.jpg" alt=""></li>
                <li class="splide__slide"><img class="show-img" src="/static/images/pexels-photo-5710079.jpg" alt=""></li>
                <li class="splide__slide"><img class="show-img" src="/static/images/pexels-photo-5710076.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./app.js"></script>

<script>
    new Splide('.splide').mount();
</script>

{% endblock %}



